  <div class="content_post" style="background-image: url(<%= Rails.application.routes.url_helpers.url_for(item.image) if item.image.attached?  %>);">
      <%# <%= image_tag item.image ,class: 'item-image' if item.image.attached?  %> 
      <%# <%= image_tag message.image, class: 'message-image' if message.image.attached? %> 
      <%# attached?メソッド レコードにファイルが添付されているかどうか モデル.ファイル名.attached? %>
        <%# image_tagメソッド img要素を生成するRailsのヘルパーメソッド  %>
        <%# image_tagメソッドでは、複雑なRailsのディレクトリパスを指定しなくても、モデルから画像ファイルを呼び出して引数に記述するだけで、画像を表示するimg要素を生成 %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png'%></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', item_path(item.id), method: :get%>
          </li>
        <% if user_signed_in? && current_user.id == item.user_id %>
          <li>
            <%= link_to '削除', item_path(item.id), method: :delete %>
          </li>
            <%# Prefixの引数 %>
            <%# アイテムのID（item.id） %>
            <%# HTTPメソッドは、DELETEというHTTPメソッド %>
            <%# methodオプションにシンボルで:delete %>
          <li>
            <%= link_to '編集',edit_item_path(item.id), method: :get %>
            <%# get サーバーからブラウザに情報を返す。単にウェブサイトを閲覧する際など、情報を取得するために利用される。 %>
            <%# Prefixでパスを確認 %>
          </li>
        <% end %>
        </ul> 
       </div>    
      <p><%= item.text %></p>
      <span class="name">
         <a href="/users/<%= item.user.id %>">
          <span>投稿者</span><%= item.user.nickname %>
        </a>
      </span>
    </div>