<div class="contents row">
  <% @items.each do |item| %>
    <div class="content_post" style="background-image: url(<%= item.image %>);">
      <div class="more">
        <span><%= image_tag 'arrow_top.png'%></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', item_path(item.id), method: :get%>
          </li>
          <li>
            <%= link_to '削除', item_path(item.id), method: :delete %>
            <%# Prefixの引数 %>
            <%# アイテムのID（item.id） %>
            <%# HTTPメソッドは、DELETEというHTTPメソッド %>
            <%# methodオプションにシンボルで:delete %>
            <%= link_to '編集',edit_item_path(item.id), method: :get %>
            <%# get サーバーからブラウザに情報を返す。単にウェブサイトを閲覧する際など、情報を取得するために利用される。 %>
            <%# Prefixでパスを確認 %>
          </li>
        </ul> 
       </div>    
      <p><%= item.text %></p>
      <span class="name">
         <a href="/users/<%= item.user.id %>">
          <span>投稿者</span><%= item.user.nickname %>
        </a>
      </span>
    </div>
  <% end %>  
</div>

